@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">빠른손 웹</h1> 
    <a href="/OrderCancel?order_seq=4349929&order_type=W&admin_id=admin&viewtype=1" target="_blank">주문취소 테스트</a>
</div>

